root = False
gdataname = 'data'
gdrivername = "chromedriver"
ghost="mynaworks.com"
guser=""
gpasswd=""
gdatabase="sampleDB"
gport="8989"
gtable_data = 'product_data'
gtable_detail = 'product_detail'
gurl = 'https://tokopedia.com/gadzilastore'
mac='https://chromedriver.storage.googleapis.com/2.41/chromedriver_mac64.zip'
win='https://chromedriver.storage.googleapis.com/2.41/chromedriver_win32.zip'
linux='https://chromedriver.storage.googleapis.com/2.41/chromedriver_linux64.zip'
